.vhr_timesheet_leave_request_message {
    color: blue;
    margin: 0 0 0 0 !important;
}

.vhr_timesheet_warning_message {
    color: red;
    margin: 0 0 0 0 !important;
}
 .edit_ot_detail_tree_expand [data-id="notes"]{width: 18000px;}


 .edit_ot_detail_tree [data-fieldname="is_compensation_leave"] input:not([disabled]):not([readonly]){
   background-color: #d2d2ff;
}

 .oe_form_editable .oe_list_editable.edit_ot_detail_tree .oe_list_content [data-field="is_compensation_leave"] {
   background-color: #d2d2ff;
}



