/*.text_high {
    height: 60px;
}

.text_high textarea {
    height: 100%;
}
*/
.vhr_human_resource_important_message {
    color: blue;
    margin: 0 0 0 0 !important;
}
.vhr_human_resource_warning_message {
    color: red !important;
    margin: 0 0 0 0 !important;
}


.vhr_human_resource_background_yellow{
	background-color: yellow;
}