
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

h4 {
    font-size: 18px;
}

.register-leave-detail{
    display: block;
}

select, textarea {
    height: 42px;
    border: 2px solid #bdc3c7;
    font-size: inherit;
}

select:focus, textarea:focus{
    border-color: #1abc9c;
}

.btn {
    font-size: 12px;
}

.input-group{
    display: inherit;
}

.input-group input[type="text"]:first-child{
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}


#tb-overtime-container select, input {
    height: 27px;
    border: 2px solid #bdc3c7;
}

#tb-overtime-container select:focus, input:focus {
    border-color: #1abc9c;
}

#tb-overtime-container input[type="checkbox"], input[type="radio"]{
    margin: 1px 0 0;
    line-height: normal;
}

#tb-overtime-container input[type="text"], input[type="number"]{
    width: 100%;
}
#tb-overtime-container input[type="number"]{
    text-align: right;
}

#tb-overtime-container input.times, input.total{
    max-width: 60px;
}

#tb-overtime-container .fa-trash-o{
    padding-top: 6px;
    cursor: pointer;
}

#tb-leave-container .fa-trash-o {
    padding-top: 6px;
    cursor: pointer;
}

.alert {
    color: #ce8f22;
    background-color: #fffcee;
    background-image: none;
    box-shadow: none;
    text-shadow: none;
    padding: 9px 19px 9px 15px;
    border-radius: 3px 3px 3px 3px;
    border: 1px solid #F0DBB4;
    -webkit-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
}

.alert .link {
    color: #ce8f22;
    font-weight: bold;
}

.alert .alert-heading {
    color: #ce8f22 !important;
    margin-bottom: 5px;
    font-weight: 600;
}

.alert .btn-small {
    position: relative;
    top: -3.5px;
}

.alert .button-set .btn {
    position: relative;
    top: 8px;
}


.alert .close:hover {
    opacity: 1;
}

.alert-success {
    color: #1abc9c;
    background-color: #f3faf8;
    border-color: #bfd1cf;
    font-weight: bold;
}

.alert-success .link {
    color: #1abc9c;
}

.alert-success .alert-heading {
    color: #1abc9c !important;
}

.alert-success .close {
    background-position: -38px -10px !important;
}

.alert-info {
    color: #246a8e;
    background-color: #ebf6fb;
    border-color: #bfd4de;
}

.alert-info .link {
    color: #246a8e;
}

.alert-info .alert-heading {
    color: #246a8e !important;
}

.alert-info .close {
    background-position: -67px -10px !important;
}

.alert-danger, .alert-error {
    color: #e76e70;
    background-color: #fff6f4;
    border-color: #f8cdcd;
}

.alert-danger .link, .alert-error .link {
    color: #e76e70;
}

.alert-danger .alert-heading, .alert-error .alert-heading {
    color: #e76e70 !important;
}

.alert-error .close, .alert .alert-danger .close {
    background-position: -95px -10px !important;
}

.alert-block {
    padding: 15px 19px 15px 17px;
}

.text-success {
    color: #0aa699 !important;
}

.text-info {
    color: #0090d9 !important;
}

.text-warning {
    color: #fbb05e !important;
}

.text-error {
    color: #f35958 !important;
}

.text-white-opacity {
    color: #ffffff;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.form-label {
    line-height: 1.72222;
}

.v-align-top {
    vertical-align: top !important;
}

.pdf-preview{
    height: 660px;
}

.pdf-preview #save{
    display: none;
}

.pdf-preview #print{
    display: none;
}

.stock.collapse.in, .vesting.collapse.in, .vested.collapse.in, .sellback.collapse.in{
    display: table-row;
}

.stock .table > thead > tr > th, .vesting .table > thead > tr > th, .vested .table > thead > tr > th, .sellback .table > thead > tr > th{
    background-color: #ffe1d7;
}

.pager {
	display: inline-block !important;
    font-size: 16px;
    font-weight: 700;
    color: #fff;    
    border-radius: 6px;
	background-color: transparent;
}

.pagination li > a {
    color: #1ABC9C;
    border-left: none;
    border: none !important;    
}

.pagination li > a, .pagination li > span {
    min-width: 37px !important;
    min-height: 37px !important;    
    text-align: center;
    background: transparent;
    outline: none;    
    transition: .25s ease-out;
}

.esop-summary a{
    text-decoration: none;
    border-bottom: dashed 1px #0088cc;
}
