
.fa-lightblue {
    color: lightblue;
}

.fa-red {
    color: red;
}

.fa-blue {
    color: blue;
}

.fa-lightgreen {
    color: lightgreen;
}

.fa-yellow {
    color: yellow;
}

.fa-lightyellow {
    color: lightyellow;
}

.fa-magenta {
    color: magenta;
}

.fa-lightcyan {
    color: lightcyan;
}

.fa-black {
    color: black;
}

.fa-lightpink {
    color: lightpink;
}

.fa-brown {
    color: brown;
}

.fa-violet {
    color: violet;
}

.fa-lightcoral {
    color: lightcoral;
}

.fa-lightsalmon {
    color: lightsalmon;
}

.fa-lavender {
    color: lavender;
}

.fa-wheat {
    color: wheat;
}

.fa-ivory {
    color: ivory;
}