.openerp .oe_view_manager .oe_view_manager_switch .oe_vm_switch_hrs_calendar:after {
    content: "l";
}

.oe_view_manager_view_hrs_calendar > div > table.table-calendar > thead > tr > th {
    text-align: center;
}

.oe_view_manager_view_hrs_calendar > div > table > tbody > tr > td {
    padding: 2px;
    text-align: center;
    vertical-align: middle;
}

.oe_view_manager_view_hrs_calendar > div > table > tbody > tr > td > div[contenteditable="true"] {
    border: 1px solid #7f9db9;
    COLOR: #000066;
    height: 2.7em;
    width: 2.5em;
    word-wrap: break-word;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
	line-height: 2.7em;
}

.oe_view_manager_view_hrs_calendar > div > table > tbody > tr > td.Sun > div, .oe_view_manager_view_hrs_calendar > div > table > tbody > tr > td.Sat > div[contenteditable="true"] {
    background-color: #ffff00;
}

.oe_view_manager_view_hrs_calendar div.toolbar {
    width: 100%;
    height: 50px;
    vertical-align: middle;
    display: table-cell;

}

.oe_view_manager_view_hrs_calendar div.toolbar > span {
    display: table-cell;
    /*text-align: center;*/
    height: 44px;
    vertical-align: middle;
    padding-left: 9px;
}

.oe_view_manager_view_hrs_calendar div#divValid {
    display: none;
}

.oe_view_manager_view_hrs_calendar span.validation {
    color: red;
    font-weight: normal;
    font-style: italic;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    padding-left: 17px;
    background-position: center left;
}

.oe_view_manager_view_hrs_calendar #filter_year, #filter_month {
    max-width: 60px;
    text-align: center;
}

.oe_view_manager_view_hrs_calendar #error_message {
    display: table-cell;
    color: #ff0000;
    visibility: hidden;
}

.oe_view_manager_view_hrs_calendar .toolbar-icon-search {
    font-size: 15px;
    color: #7c7bad;
}