.openerp .oe_view_manager .oe_view_manager_switch .oe_vm_switch_monthly_calendar:after {
    content: "l";
}

/* .oe_view_manager_view_monthly_calendar > div >  table.table-monthly-calendar*/
 table.table-monthly-calendar > thead > tr > th {
    text-align: center;
}

 table.table-monthly-calendar > tbody > tr > td {
    padding: 2px;
    text-align: center;
    vertical-align: middle;
}

 table.table-monthly-calendar > tbody > tr > td > div {
    border: 1px solid #7f9db9;
    COLOR: #000066;
    height: 1.7em;
    width: 2.1em;
    word-wrap: break-word;
    margin: 0 auto;
    display: table;
}

.td > div > span {
    display: table-cell;
    vertical-align: middle;
}

table.table-monthly-calendar > tbody > tr > td.Sun > div {
    background-color: #ffff00;
}

table.table-monthly-calendar > tbody > tr > td.Sat > div {
    background-color: #ffff00;
}

table.table-monthly-calendar > tbody > tr > td.Leave > div {
    background-color: darkred !important;
}

.oe_view_manager_view_monthly_calendar #filter_year, #filter_month {
    max-width: 60px;
    text-align: center;
}

.oe_view_manager_view_monthly_calendar div.toolbar {
    width: 100%;
    height: 50px;
    vertical-align: middle;
    display: table-cell;

}

.oe_view_manager_view_monthly_calendar div.toolbar > span {
    display: table-cell;
    /*text-align: center;*/
    height: 44px;
    vertical-align: middle;
    padding-left: 9px;
}

.oe_view_manager_view_monthly_calendar .toolbar-icon-search {
    font-size: 30px;
    color: #7c7bad;
}

.oe_view_manager_view_monthly_calendar .headcol {
    text-align: left;
}

.oe_view_manager_view_monthly_calendar .oe_list_record_selector {
    text-align: center !important;
}

.oe_view_manager_view_monthly_calendar .leave_color {
    color: #fff0f9;
    font-weight: bold;
}

.oe_view_manager_view_monthly_calendar .grey-cell > div {
    background-color: #808080;
}

.oe_view_manager_view_monthly_calendar span.radio {
    padding-left: 50px !important;
    font-size: medium;

}

button.btn_monthly {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  text-shadow: none;
  -webkit-box-shadow: none;
}


button.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

button.btn-primary:hover,
button.btn-primary:focus,
button.btn-primary.focus,
button.btn-primary:active,
button.btn-primary.active{
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
  background-image: none;
  text-shadow: none;
  -webkit-box-shadow: none;
}

button.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
button.btn-danger:hover,
button.btn-danger:focus,
button.btn-danger.focus,
button.btn-danger:active,
button.btn-danger.active{
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
  background-image: none;
  text-shadow: none;
  -webkit-box-shadow: none;
}


.oe_application a.link_to_leave_request{
    color:blue;
}